<div class="jumbotron text-center">
  <% if user_signed_in? %>
    <%= render 'word_links' if current_user.is_admin? %>
    <%= link_to "Create new Room", new_game_room_path,
                                   class: 'btn btn-info btn-lg btn-block' %>
  <% end %>

  <% if @game_rooms.any? %>
      <%= paginate @game_rooms %>
        <h2> Game Rooms: </h2>
        <%= render @game_rooms %>
      <%= paginate @game_rooms %>
  <% else %>
    <h2> Nothing to show here </h2>
  <% end %>
</div>
