<div class="jumbotron">
  <div class='text-center'>
    <h1> <%= @game_room.full_name %></h1>
    <p> <%= @game_room.description %></p>
  </div>

  <h2> Guesses: </h2>
  <%= render 'guesses/guess_form' if
     valid_for_guessing?(@game_room) %>

  <% if @guesses.any? %>
    <%= paginate @guesses %>
    <%= render @guesses  %>
  <% else %>
    <p> Nothing yet, mate!</p>
  <% end %>

  <%= link_to 'Return', game_rooms_path, class: 'btn btn-info btn-lg btn-block' %>
<div>
